
AppTeilnehmer/.idea/misc.xml
AppTeilnehmer/.idea/misc.xml
AppTeilnehmer/.idea/modules.xml
AppTeilnehmer/.idea/misc.xml
AppTeilnehmer/.idea/gradle.xml
AppTeilnehmer/.idea/gradle.xml
AppTeilnehmer/.idea/misc.xml
AppTeilnehmer/.idea/modules.xml
AppTeilnehmer/.idea/runConfigurations.xml
AppTeilnehmer/.idea/vcs.xml
AppTeilnehmer/.idea/codeStyles/Project.xml
