<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cora.sportverwaltungveranstalter">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.account.ProfileActivity">
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.account.RegisterActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyADHNVxUnHX8VWXhFRPcziGup9N8TkmNcg" />

        <activity android:name=".activity.base.BaseActivity" />
        <activity android:name=".activity.account.LoginActivity" />
        <activity android:name=".activity.account.RecoveryActivity" />
        <activity android:name=".activity.account.VerifyActivity" />
        <activity
            android:name=".activity.events.MyEventsActivity"
            android:label="@string/title_activity_my_events"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.events.AddEventActivity" />
        <activity
            android:name=".activity.events.EventDetailActivity"
            android:label="@string/title_activity_event_detail"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>